*{
    text-align: center;
    box-sizing: border-box;
    margin-top: 5%;
    width:auto;
    border-radius: 4px;
}
body{
    background-image:url('fondo.jpg') ;
    height: 80%;
}
.calculadora{
    border: 1px solid yellow;
    
}
input[type='text']{
    width: 95%;
    border: none;
    height: 70px;
}
input[type='submit']{
    width: 20%;
    font-size: 200%;
    padding: 4%;
    border: none;
}
